doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pow.Share: Easier Research Publishing

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Pow.share
        h3
          a(href='https://twitter.com/powlab') @powlab
        img.avatar.avatar--small(src='images/blu-flake.png')
        h2 Making it less painful to publish your research

      section.light(data-bespoke-state='green')
        h2 Why is publishing a research paper so painful?

      section.gif.gif--louis
        h2 Doing the actual research is hard enough already

      section
        h3.blue Can't we make the rest of the process easier?

      section.gif.gif--anger
        h2 "Instructions for Authors"

      section.gif.gif--cats
        h2 Merging changes from collaborators

      section.gif.gif--stewart
        h2 Managing references and formatting bibliographies

      section.gif.gif--bat
        h2 Making figures 
           br
           | shouldn't be this hard

      section
        h3 If my paper is rejected...
        h3.blue Can I just send it off to another journal?

      section.gif.gif--no

      section.diff
        h2 Science, Technology, & Medical publishing (STM)

      section.light(data-bespoke-state='green')
        h2.bullet ...is a BIG industry
        ul.diff
          li Articles - 1.5M / year
          li Journals - 25K
          li Authors - 5-10M
          li Revenue - >10B

      section.gif.gif--goal
        h2.diff ...ripe for disruption.

      section.light(data-bespoke-state='green')
        h2.bullet Languishing in the 1990s
        ul.diff
          li Microsoft Word - $139
          li EndNote (Thompson Reuters) - $249
          li Adobe Photoshop - > $250

      section.light(data-bespoke-state='green')
        h2.bullet So why do researchers not bat an eye to pay for all this stuff?

      section.light(data-bespoke-state='green')
        h3 Because it's the most critical aspect of career advancement
        h3.bullet
          div.diff and the main source for future funding

      section.gif.gif--omg-grunt
        h2 pow.share
        img.avatar.avatar--small(src='images/blu-flake.png')

      section.light(data-bespoke-state='green')
        h3.bullet Like 
           b GitHub
           , customized to the needs of the Scientific and Medical research community
        ul.diff
          li Starter projects for each research / article type 
            div(style='color: yellow') Everything you need is already there, just fork-and-go
          li Track changes of the entire project
            div(style='color: yellow') not just within a file
            
          li Realtime collaboration of proposed changes and comments
            div(style='color: yellow') It's 2014...
          
          li Figure generation and image manipulation tools
            div(style='color: yellow') Do you really want to mess with Photoshop for common operations?
          
          li Integrated reference management 
            div(style='color: yellow') Already setup for the right formatting
          li Dropbox integration

      section.gif.gif--well-done

      section.light(data-bespoke-state='green')
        h2.bullet Status
        ul.diff
          li MvP up and running - 
             span(style='color: yellow') ಠ_ಠ
          li Initial commitment from alpha users
        p
        table.bullet
          tr
            td(style='width: 25%')
              img(style='height: 100px;' src='images/ucsd.jpeg')
            td(style='width: 25%')
              img(style='height: 100px;' src='images/exempla.jpg')
            td(style='width: 25%')
              img(style='height: 100px;' src='images/mskcc.png')
            td(style='width: 25%')
              img(style='height: 100px;' src='images/dh.jpg')
          tr
            td UCSD
            td St. Joseph's Hospital 
            td Memorial Sloan Kettering  
            td Denver Health 

      section.light(data-bespoke-state='green')
        h2 Team
        h3.bullet
          div.diff Unique skill-set bridging science, medicine, and technology
        p
        table.bullet.diff
          tr
            td(style='width: 25%')
              img.avatar.avatar--large(src='images/paul.png')
            td(style='width: 25%')
              img.avatar.avatar--large(src='images/rick.jpg')
          tr
            td *pcj
            td *rickbrennan

      section.light(data-bespoke-state='green')
        h2.bullet Next steps
        ul.diff
          li.bullet Seeking partners / developers / researchers to work with
          li.bullet Synergize with University of Colorado Boulder
        p.bullet
          img.avatar.avatar--large(src='images/ucb2.jpg')

      section
        h1 Thank you!
        h3
          a(href='https://twitter.com/powlab') @powlab
        img.avatar.avatar--large(src='images/blu-flake.png')

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
